body{
    background-color: black;
    color: #FFFFFF;
}
.container{
    text-align: center;
    align-items: center;
}
h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 100px;
    line-height: 121px;
    
    color: #FFFFFF;
    margin-top: 101px;
    margin-bottom: 68px;
    padding: 0%;
}
#getUserData{
    width: 492px;
    height: 58px;
    

    background: #FFFFFF;
}
#cordinates{
    display: none;
    flex-direction: row;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 61px;
}

